{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h1 class="mt-5">{{titulo|default:"Formulário"}}</h1>

<form action="" method="post">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-success">{{descricao_botao|default:"Salvar"}}</button>
</form>

{% endblock %}

{% block scripts %}

<!-- Importação do jQuery Mask Plugin -->
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<!-- Aplicar máscaras nos campos -->
<script>
    $(document).ready(function () {

        $("#x, #y, #z").attr("type", "text");
        $("#x, #y, #z").addClass("numeros");

        $("#id_cpf").mask("000.000.000-00");
        $("input[name*=data_]").mask("00/00/0000");

        $('#id_preco').prop("type", "text");
        $('#id_preco').mask("#.##0,00", { reverse: true });

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);


        var CpfCnpjBehavior = function (val) {
            return val.replace(/\D/g, '').length <= 11 ? '000.000.000-009' : '00.000.000/0000-00';
        },
            cpfcnpjOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(CpfCnpjBehavior.apply({}, arguments), options);
                }
            };

        $('#id_documento').mask(CpfCnpjBehavior, cpfcnpjOptions);
    });
</script>

{{ form.media }}

{% endblock %}