{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container">

    <h1 class="mt-5">Cosmetic Survey</h1>

    <p class="lead">Seja bem-vindo ao sistema Cosmetic Survey.</p>

    <p class="lead">Estatísticas do mês atual.</p>

    <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Clientes Cadastrados</th>
                    <th>Pedidos Cadastrados</th>
                    <th>Produtos Cadastrados</th>
                    <th>Marcas Cadastradas</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td>{{ clientes }}</td>
                    <td>{{ pedidos }}</td>
                    <td>{{ produtos }}</td>
                    <td>{{ marcas }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}